<link rel="stylesheet" href="css/styleLogin.css">


<% block('title'); -%>

<h1 align="center">Sorry, an error occurred.</h1>

<h2 align="center"><%=error.message%></h2>

<br><br><br><br><br><br><br><br>
