<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/styleLogin.css">

<% block('title') -%>

<h1 id="AIT"><b>CT</b></h1>

<form class="form-signin" name="login_form">
  <h2><b><center>Авторизация</center></b></h2>
  <h5><center>Пожалуйста, введите данные для входа.</center></h5>
  <div class="form-group">
    <input name="email" type="email" class="form-control" id="input-email" placeholder="Email">
  </div>
  <div class="form-group">
      <input name="password" type="password" class="form-control" id="input-password" placeholder="Password">
  </div>
  <div class="form-group">
    <label class="btn-signin">
      <button type="submit" class="btn btn-lg btn-primary btn-block" data-loading-text="Sending...">Enter</button>
      <span class="help-block error"></span>
      </label>
  </div>
  <a href="restorePassword">Забыли пароль?</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <!-- <a href="registration">Регистрация</a> -->
</form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->

    <!-- <label>
        <textarea name="message" style="display:block;width:400px;height:80px"></textarea>
      </label> -->
    <script>

    // Клиентский код //
    // Человек вводит логин, пароль
      $(document.forms['login_form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        // Этот логин, пароль отправляется на сервер
        $.ajax({
          url: "/login", // роут: require('./login').post
          method: "POST",
          data: form.serialize(),
          complete: function() {
            $(":submit", form).button("reset");
          } // НЕ ОЧЕНЬ РАБОТАЕТ ПРОВЕРКА!
          ,
          statusCode: {
            // если ответ сервера 200 - перенаправляем человека в личный кабинет
            200: function() {
              window.location.href = "/personalArea";
            },
            // если 403 - высвечивается ошибка
            403: function(jqXHR) {
              var error = JSON.parse(jqXHR.responseText);
              $('.error', form).html(error.message);
            }
          }
        });
      window.location.href = "/personalArea"; // Пока костылина такая-грузит почему то один фиг, если ошибка
      return false;
      });

    </script>
